<fieldset>
    <h2>Registration</h2>
    <form name='signupForm' novalidate>
        <div class="form-group">
            <label>First Name *</label>
            <input class="form-control" type="text" name="firstName" minlength="4"
                   ng-model="signupCtrl.user.firstName" required />
            <span ng-if="(signupForm.firstName.$error.minlength || signupForm.firstName.$error.required) && signupForm.firstName.$touched"
                  class="help-block">Please enter a valid first name.</span>
        </div>

        <div class="form-group">
            <label>Last Name *</label>
            <input class="form-control" type="text" name="lastName"
                   ng-model="signupCtrl.user.lastName" required />
            <span ng-if="(signupForm.lastName.$error.minlength || signupForm.lastName.$error.required) && signupForm.lastName.$touched"
                  class="help-block">Please enter a valid last name.</span>
        </div>

        <div class="form-group">
            <label>Email *</label>
            <input class="form-control" type="email" name="email"
                   ng-model="signupCtrl.user.email" required />
            <span ng-if="signupForm.email.$invalid && signupForm.email.$touched" class="help-block">
            Must be a valid email address: handle@domain format
            </span>
        </div>

        <div class="form-group">
            <label>Phone *</label>
            <input class="form-control" type="text" name="phone"
                   ng-model="signupCtrl.user.phone" pattern="(\d{3})-(\d{3})-(\d{4})"/>
            <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched" class="help-block">
            Phone must be in the format ###-###-####.
          </span>
        </div>

        <div class="form-group">
            <label>Favorite Dish *</label>
            <input class="form-control" type="text" name="short_name"
                   ng-model="signupCtrl.user.favoriteDish" ng-blur="signupCtrl.validate()" required />
            <span ng-if="signupCtrl.isInValid || (signupForm.short_name.$error.required && signupForm.short_name.$touched)"
                  class="help-block">Please enter a valid short name of your favorite dish.</span>

        </div>

        <button
                ng-disabled="signupForm.$invalid"
                ng-click="signupCtrl.signup(signupForm)">Submit</button>

        <span class="text-success" ng-if="signupCtrl.signupSuccess">You have signed up.</span>
    </form>
</fieldset>